<md-sidenav-layout>
    <md-sidenav #sidenav mode="side" [opened]="sidenavOpened">
        <md-list>
            <md-list-item><a routerLink="./pages" routerLinkActive="active">Pages</a></md-list-item>
            <md-list-item><a routerLink="./blog" routerLinkActive="active">Blog</a></md-list-item>
        </md-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button> 
    
        Administration

        <span class="app-toolbar-filler"></span>
    </md-toolbar>

    <router-outlet></router-outlet>
</md-sidenav-layout>